.path {
    display: flex;
    justify-content: flex-start;
    width: 20%;
    margin-bottom: 30px;
}

.pathItem {
    font-weight: bold;
    font-size: 24px;
}

.items {
    display: flex;
}

.addBtn {
    align-self: center;
    width: 40px;
    height: 40px;
    background-color: #b8cfd0;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.addBtn:hover {
    scale: 1.1;
}
