.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 30vw;
    background-color: #37454e;
    border-radius: 10px;
    border: 1px #252525 solid;
}

.login_btn {
    width: max-content;

    padding: 10px 40px;
    align-self: center;
    margin-top: 50px;

    font-size: 20px;
    font-weight: bold;

    border-radius: 10px;
    cursor: pointer;
}
